:root {
  --yummy-burgundy: #513;
  --dark-red: #813;
  --tomato: #e44;
  --orange: #f80;
  --white: #fff;
  --deep-dark-blue: #022;
  --deep-purple: #313;
  --deep-dark: #012;
  --dark: #333;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.home-main-container {
  position: relative;
  background-color: var(--deep-dark);
  overflow: hidden;
}

.home-main-container .container {
  z-index: 1;
  /* height: 100vh; */
}

/* .home-main-container:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background-image: url('./react-bg.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
} */
